<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="siapri broker">
         <property
               name="appName"
               value="siapri broker">
         </property>
         <property
           name="lifeCycleURI"
           value="bundleclass://broker-app/com.siapri.broker.app.ApplicationLifeCycleManager">
         </property>
         <property
               name="startupForegroundColor"
               value="FF0000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="broker-app.intro">
      </intro>
      <introProductBinding
            introId="broker-app.intro"
            productId="broker-app.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="broker-app.introConfigId"
            introId="broker-app.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="com.siapri.broker.app.authentication.SessionSourceProvider">
         <variable
               name="com.siapri.broker.app.sessionState"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>

</plugin>
